html,
body,
main {
  height: 100%;
}

::-moz-selection {
  background: #07374a;
  color: #fff;
}

::selection {
  background: #07374a;
  color: #fff;
}

.jumbotron {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 0;
  background-color: #25b79f;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.photo-cover {
  background: #07374a url(https://4.bp.blogspot.com/-MTWxNFzANS4/WzZDOd7wBLI/AAAAAAAAHFM/ofurcBPIJMUWRSfNnufVIuX1yW7i7YyRACLcBGAs/s1600/p4.png) no-repeat center center/cover fixed;
  height: 100%;
  position: relative;
}

.background-primary {
  background: #07374a;
}

.background-secondary {
  background: #07374a;
}

.large {
  font-size: 4em;
}

.medium {
  font-size: 2em;
}

/* Header */
.transparent {
  background: transparent;
}

.navbar-inverse {
  transition: all 0.2s ease-in;
}

.thumbnail {
  cursor: pointer;
  position: relative;
  display: flex;
}

.thumbnail-svg {
  flex: 1 0 auto;
  padding: .5em;
  max-height: 6em;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.full-screen {
  background: #1abc9c;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}
